<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form action="/veiculos/salvar" method="post">
    <div>
        <label for="nome"> Marca: </label>
        <input type="text" id="nome" name="nome" />
    </div>
    <div>
        <label for="modelo"> Modelo: </label>
        <input type="text" id="modelo" name="modelo" />
    </div>
    <div>
        <label for="fabricacao"> Ano: </label>
        <input type="text" id="fabricacao" name="fabricacao" />
    </div>
    <div>
        <label for="cor"> Cor: </label>
        <input type="text" id="cor" name="cor" />
    </div>
    <div>
        <label for="combustivel"> Combustivel: </label>
        <input type="text" id="combustivel" name="combustivel" />
    </div>
    <div>
        <label for="automatico"> Automático: </label>
        <input type="text" id="automatico" name="automatico" />
    </div>
    <div>
        <label for="valor"> Valor: </label>
        <input type="text" id="valor" name="valor" />
    </div>
    <br />
    <div class="button">
        <button type="submit">Salvar</button>
    </div>
</form>